body{
    background: #d9d9d9;
}
.contenedor {
    margin-left: 15%;
    margin-right: 15%;
    border-style: groove;
    float: left;
    background: #e8c9bc;
}
.a1 {
  border-bottom-style: groove;
    padding: 10px;
    margin-bottom: 10px;
}
.title {
    width: 50%;
}
h4{
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration-line: underline;
}
.cabecera {
    float: right;
    font-family: monospace;
    text-align: right;
}
.persona {
    width: 33%;
    padding-left: 3px;
    float: left;
}
.imag {
    width: 30%;
    float: left;
    margin-top: 10%;
}
.texto {
    text-align: justify;
    margin-left:30%;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom-style: groove;
}
.noticia {
    width: 60%;
    padding-left: 10px;
    float: left;
}
h1{
    text-align: center;
    text-decoration: underline;
}
.relato {
    text-align: justify;
    padding-left: 63%;
    padding-right: 20px;
    font-family: sans-serif
}
.medio {
    border-bottom-style: groove;
}
.muerto {
    width: 30%;
    padding-top: 20px;
    float: left;
}
.txtmuerte {
    float: left;
    width: 67%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    font-family: "Helvetica";

}
.pie {
    border-top-style: groove;
    text-align: center;
    font-family: monospace;
    text-decoration-line: underline;
}
.sub {
    font-family: fantasy
}
.publicidad {
    width: 5%;
    margin-left: 45%;
}

   



