
    <div class="contenedor">
        <div class="a1">
            <img class="title" src="~/Img/titulo.png" alt="">
            <div class="cabecera">
                <iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=es&size=medium&timezone=America%2FMexico_City" width="180px" height="" frameborder="0" seamless class="mt-0"></iframe>
            </div>
            <h4>El mejor periodico sin censura para las nuevas generaciones</h4>
        </div>
        <div>
            <div class="persona">
                <img class="imag" src="~/Img/p1.png" alt="">
                <p class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium accusamus minima, magnam doloremque pariatur minus ducimus. Voluptatibus repellat reprehenderit harum placeat necessitatibus doloremque odit, corporis, aliquid ut quae, eius, alias.</p>
            </div>
            <div class="persona">
                <img class="imag" src="~/Img/p2.png" alt="">
                <p class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium accusamus minima, magnam doloremque pariatur minus ducimus. Voluptatibus repellat reprehenderit harum placeat necessitatibus doloremque odit, corporis, aliquid ut quae, eius, alias.</p>
            </div>
            <div class="persona mt-0">
                <img class="imag" src="~/Img/p3.png" alt="">
                <p class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium accusamus minima, magnam doloremque pariatur minus ducimus. Voluptatibus repellat reprehenderit harum placeat necessitatibus doloremque odit, corporis, aliquid ut quae, eius, alias.</p>
            </div>
        </div>
        <h1>Banco ruso es asaltado por 3 sujetos fuertemente armados </h1>
        <div class="medio">
            <div class="noticia">
                <img src="~/Img/banco.jpg" alt="" width="100%">
            </div>
            <div>
                <p class="relato">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae sunt nesciunt excepturi consequuntur. Consequuntur aliquam eius soluta debitis atque, harum at iure necessitatibus vitae repellat porro, nulla quisquam! Quisquam, temporibus.lorem</p>
                <p class="relato">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, adipisci! Fugiat nostrum dolorem, dolore consectetur accusantium obcaecati iste. Voluptatem iure itaque tenetur, ut nesciunt sit distinctio maiores consequatur, quasi aspernatur.</p>
                <p class="relato">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, eos! Modi architecto quod ad fugiat sint dolorum! Voluptatem deserunt aut itaque ratione quia dolorem, ut voluptate, hic temporibus, inventore numquam!</p>
            </div>
        </div>
        <div class="txtmuerte">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati totam nobis quisquam dicta in aliquid fuga, assumenda ratione ipsa cum animi vel id ducimus distinctio ut accusantium eum, voluptates dolore?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo molestiae ad facilis illum ut natus ea aspernatur fuga eos, dolore ab beatae voluptatum animi, nihil magni quia quo repellendus. Omnis.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae a cumque quia atque, fugit sunt nesciunt, in error iure velit repudiandae molestias? Quasi eveniet, ipsum quis repellendus doloribus corporis fugit?</p>
        </div>
        <div class="muerto">
            <img src="~/Img/muerto.png" alt="" width="100%">
        </div>
        <p class="sub">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur nostrum ea quos</p>
        <div class="pie">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, quis recusandae </p>
        </div>
        <div class="publicidad">
            <img src="~/Img/publicidad.png" alt="" width="100%">
        </div>
    </div>
