<div class="jumbotron jumbotron-fluid" style="background-image: url(https://cio.com.mx/wp-content/uploads/2019/10/Plataformas-digitales.png);">
    <div class="container">
        <h1 class="display-4 alert-danger">Plataformas Web: diseñado con Bootstrap 4</h1>        
    </div>
</div>
<div class="container bg-light">
    <div class="row">
        <div class="col-4">
            <div class="card border-primary" style="width: 18rem;">
                <img class="card-img-top" src="https://hipertextual.com/files/2018/11/windows-10.jpg" alt="Card image cap">
                <div class="card-body alert-primary">
                    <h5 class="card-title text-center" id="nomPizza">Windows</h5>
                    <div class="row justify-content-center">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary text-center"
                                data-toggle="modal" data-target="#infoModal1">
                            Información
                        </button>
                    </div>
                    <p class="text-center alert-danger mt-4"><b>Compatibilidad Alta</b></p>
                </div>                
            </div>            
        </div>
        <div class="col-4">
            <div class="card border-success" style="width: 18rem;">
                <img class="card-img-top" src="https://graffica.info/wp-content/uploads/2019/08/Captura-de-pantalla-2019-08-26-a-las-8.58.54.png"
                     alt="Card image cap" height="175px;">
                <div class="card-body alert-success">
                    <h5 class="card-title text-center" id="nomPizza">Android</h5>
                    <div class="row justify-content-center">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-success text-center"
                                data-toggle="modal" data-target="#infoModal2">
                            Información
                        </button>
                    </div>
                    <p class="text-center alert-warning mt-4"><b>Compatibilidad Media-Alta</b></p>
                </div>                
            </div>
        </div>
        <div class="col-4">
            <div class="card border-secondary" style="width: 18rem;">
                <img class="card-img-top" src="https://www.caribbeannewsdigital.com/sites/default/files/2020-09/Apple-Launch-New-Products-Special-September-15-Event.jpg"
                     alt="Card image cap" height="175px;">
                <div class="card-body alert-secondary">
                    <h5 class="card-title text-center" id="nomPizza">MAC</h5>
                    <div class="row justify-content-center">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-secondary text-center"
                                data-toggle="modal" data-target="#infoModal3">
                            Información
                        </button>
                    </div>
                    <p class="text-center alert-success mt-4"><b>Compatibilidad Media-Baja</b></p>
                </div>                
            </div>            
        </div>
    </div>
</div>

<!-- Modal 1-->
<div class="modal fade" id="infoModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header  alert-info">
                <h5 class="modal-title" id="exampleModalLabel">Información de la plataforma</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-justify">
                    <b class="display-4">W</b>indows es el nombre de una familia de distribuciones de software para PC, teléfonos inteligentes,
                    servidores y sistemas empotrados, desarrollados y vendidos por Microsoft y disponibles para múltiples
                    arquitecturas,tales como x86, x86-64 y ARM.
                    Desde un punto de vista técnico, no son sistemas operativos, sino que contienen uno
                    (tradicionalmente MS-DOS, o el más actual cuyo núcleo es Windows NT) junto con una amplia variedad de software;
                    no obstante, es usual (aunque no necesariamente correcto) denominar al conjunto como sistema operativo en lugar
                    de distribución. Microsoft introdujo un entorno operativo denominado Windows el 20 de noviembre de 1985 como un
                    complemento para MS-DOS en respuesta al creciente interés en las interfaces gráficas de usuario (GUI).2​ Microsoft
                    Windows llegó a dominar el mercado mundial de computadoras personales, con más del 90 % de la cuota de mercado,
                    superando a Mac OS, que había sido introducido en 1984.
                </p>
                <p class="text-center"><img src="https://www.softzone.es/app/uploads-softzone.es/2019/06/Versiones-de-Windows.jpg?x=950&y=580"
                                            alt="Sistema Operativo Windows" width="300px;"/></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal 2-->
<div class="modal fade" id="infoModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header  alert-success">
                <h5 class="modal-title" id="exampleModalLabel">Información de la plataforma</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-justify">
                    <b class="display-4">A</b>ndroid es un sistema operativo inicialmente pensado para teléfonos móviles, al igual que iOS,
                    Symbian y Blackberry OS. Lo que lo hace diferente es que está basado en Linux, un núcleo de sistema
                    operativo libre, gratuito y multiplataforma.
                    El sistema permite programar aplicaciones en una variación de Java llamada Dalvik.
                    El sistema operativo proporciona todas las interfaces necesarias para desarrollar aplicaciones que
                    accedan a las funciones del teléfono (como el GPS, las llamadas, la agenda, etc.) de una forma muy
                    sencilla en un lenguaje de programación muy conocido como es Java.
                    Esta sencillez, junto a la existencia de herramientas de programación gratuitas, hacen que una
                    de las cosas más importantes de este sistema operativo sea la cantidad de aplicaciones disponibles,
                    que extienden casi sin límites la experiencia del usuario.
                </p>
                <p class="text-center"><img src="https://4.bp.blogspot.com/-T0x1kJ4BdrI/WFr0QKzTFVI/AAAAAAAACJg/Rlw69bR9xBs8kOQMlvW_dzaeUg-jYNleQCLcB/s1600/Por%2Balguna%2Braz%25C3%25B3n%252C%2Blas%2Bversiones%2Bde%2BAndroid%2Breciben%2Bel%2Bnombre%2Bde%2Bpostres%2Ben%2Bingl%25C3%25A9s%252C%2BSistemas%2Boperativos%2BAndroid.jpg"
                                            alt="Sistema Operativo Android" width="300px;"/></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal 3-->
<div class="modal fade" id="infoModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header  alert-secondary">
                <h5 class="modal-title" id="exampleModalLabel">Información de la plataforma</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-justify">
                    <b class="display-4">M</b>acintosh, abreviado como Mac, es la línea de computadoras personales diseñada, desarrollada y
                    comercializada por Apple Inc. En sus inicios fue una alternativa económica y doméstica al Lisa,
                    un avanzado microcomputador empresarial, cuya línea de desarrollo fue absorbida por la línea Macintosh.
                    El Mac terminó por convertirse en la línea estándar de desarrollo de los computadores de Apple, al desaparecer
                    la línea evolutiva del Apple II.
                    El Macintosh 128K, llamado así a cuenta de sus 128 KiB de memoria RAM, fue lanzado el 24 de enero de 1984.
                    Fue el primer computador personal que se comercializó con éxito 2​ que usaba una interfaz gráfica de usuario
                    (GUI) y un ratón en vez de la línea de comandos. Sus características técnicas revolucionaron la industria de
                    computadores a mediados de la década de 1980, manteniendo su línea evolutiva de desarrollo hasta el día de hoy.
                </p>
                <p class="text-center"><img src="https://elprofdecompu.files.wordpress.com/2012/06/ibm_vs_mac.png" alt="Alternate Text" /></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>