<div class="container text-center">
    <h1>El PER-TESH</h1>
    <iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=es&size=medium&timezone=America%2FMexico_City" width="180px" height="" frameborder="0" seamless class="mt-0"></iframe>
    <!-- BEGIN NAV -->
</div>
<div id="nav" class="bg-info">
    <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Archivos</a></li>
        <li><a href="#">Local</a></li>
        <li><a href="#">Mundo</a></li>
        <li><a href="#">Politica</a></li>
        <li><a href="#">Entretenimiento</a></li>
        <li><a href="#">Deportes</a></li>
        <li><a href="#">Ciencia &amp; Tecnología</a></li>
    </ul>
</div>
<!-- END NAV -->
<!-- BEGIN SUB NAV -->
<div id="sub-nav">
    <ul>
        <li class="title">
            MANTÉNGASE EN EL CONOCIMIENTO:
        </li>
        <li><a href="#">Blogs</a></li>
        <li>|</li>
        <li><a href="#">Video Galería</a></li>
        <li>|</li>
        <li><img src="~/Img/icons/rss.png" alt="" /><a href="#">Subscribete</a></li>
        <li>|</li>
        <li><img src="~/Img/icons/twitter.png" alt="" /><a href="#">Twitter</a></li>
    </ul>
</div>
<!-- END SUB NAV -->
<!-- BEGIN CONTENT WRAPPER -->
<div id="content-wrapper">
    <!-- BEGIN MAIN -->
    <div id="main">
        <div id="headlines">
            <div id="main-headline">
                <h2 class="heading bg-info">
                    HISTORIA DESTACADA
                </h2>
                <img src="~/Img/derrot.jpg" alt="" />
                <h1><a href="#">Secuestran a hijo de expresidiario.</a></h1>
                <p class="author">Name Here | <span>28.10.20</span></p>
                <p>Ut sed arcu nulla. In eget lectus vitae purus volutpat consectetur suscipit ut justo.</p>
                <p><a href="#">Historia completa... &raquo;</a></p>
                <h2 class="heading bg-info">
                    VIDEO MÁS RECIENTE
                </h2>
                <object width="400" height="300">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/videoseries?list=PLx0sYbCqOb8TBPRdmBHs5Iftvv9TPboYG"
                            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                </object>
                <h2><a href="#">Real Madrid se queda con el clasico mas esperado del planeta, Se impone 3-1 al FC Barcelona.</a></h2>
                <p class="author"><span>28.10.20</span></p>
                <p><a href="#">More video &raquo;</a></p>
            </div>
            <div id="more-headlines">
                <h2 class="heading bg-info">FEATURED STORIES</h2>
                <h2><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h2>
                <p class="author">Name Here | <span>28.10.20</span></p>
                <p>Ut sed arcu nulla. In eget lectus vitae purus volutpat consectetur suscipit ut justo.</p>
                <p><a href="#">Full article &raquo;</a></p>
                <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
                <p class="author">Name Here | <span>28.10.20</span></p>
                <p>Ut sed arcu nulla. In eget lectus vitae purus volutpat consectetur suscipit ut justo.</p>
                <p><a href="#">Full article &raquo;</a></p>
                <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
                <p class="author">Name Here | <span>28.10.20</span></p>
                <p>Ut sed arcu nulla. In eget lectus vitae purus volutpat consectetur suscipit ut justo.</p>
                <p><a href="#">Full article &raquo;</a></p>
                <h2 class="heading bg-info">Podcast</h2>
                <img src="~/Img/headphones.png" alt="" class="righty" />
                <h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
                <p class="author"><span>28.10.20</span></p>
                <p>Ut sed arcu nulla. In eget lectus vitae purus volutpat consectetur suscipit ut justo.</p>
                <p><a href="#">More podcasts &raquo;</a></p>
            </div>
        </div>
    </div>
    <!-- END MAIN -->
    <!-- BEGIN SIDEBARS -->
    <div id="sidebars">
        <!-- BEGIN ADS -->
        <a href="#"><img src="~/Img/banco.jpg" alt="" class="ad" /></a>
        <a href="#"><img src="~/Img/Clarovideo.png" alt="" class="ad-right" width="100%" /></a>
        <a href="#"><img src="~/Img/p1.png" alt="" class="ad" width="30%" /></a>
        <a href="#"><img src="~/Img/p2.png" alt="" class="ad-right" width="30%" /></a>
        <!-- END ADS -->
        <h2 class="heading-blue bg-info">Sports Headlines</h2>
        <img src="~/Img/derrota.jpg" alt="" width="100%" />
        <h3><a href="#">Derrota Aplastante</a></h3>
        <p>
            Con autoridad el Real Madrid se plantó en el Camp Nou y superó 3-1 al Barcelona con goles de Valverde,
            Sergio Ramos (penal) y Luka Modric. El empate parcial para los locales fue de Ansu Fati..
        </p>
        <p><a href="#">More headlines &raquo;</a></p>

    </div>
    <!-- END SIDEBARS -->
</div>
<!-- END CONTENT WRAPPER-->
<!-- BEGIN EXTRAS -->
<div id="extras">
    <div id="programs">
        <h2 class="heading">Que hay esta noche</h2>
        <img src="~/Img/Mediafire-logo.png" alt="" width="100%" />
        <img src="~/Img/publicidad.png" alt="" width="27%" class="justify-content-center" />
    </div>
    <div id="recommended">
        <h2 class="heading">Historias recomendadas</h2>
        <ul>
            <li>
                <a href="https://www.marca.com/claro-mx/futbol/copa-mx/2020/11/03/5fa17ffd22601d5f7c8b459f.html">
                    Copa MX Monterrey vs Tijuana hoy en vivo: Horario y cómo ver por
                    TV el partido de la final de vuelta de la Copa MX 2020
                </a>
            </li>
            <li><a href="https://www.eluniversal.com.mx/mundo/elecciones-eu-biden-gana-michigan-y-esta-6-votos-de-ganar">Biden gana Michigan y está a 6 votos de ganar la Presidencia de EU</a></li>
            <li><a href="https://www.eluniversal.com.mx/metropoli/cdmx/asaltantes-asesinan-policia-en-la-colonia-mexico-nuevo">Asaltantes asesinan a policía en la colonia México Nuevo</a></li>
            <li class="last">
                <a href="https://lopezobrador.org.mx/2020/11/04/version-estenografica-de-la-conferencia-de-prensa-matutina-del-presidente-andres-manuel-lopez-obrador-410/">
                    Versión estenográfica de la conferencia de prensa matutina del presidente
                    Andrés Manuel López Obrador
                </a>
            </li>
        </ul>
    </div>
    <div id="cartoon">
        <h2 class="heading">Humor</h2>
        <img src="~/Img/cartoon.jpg" alt="" />
    </div>
</div>
<!-- END EXTRAS -->
<!-- BEGIN FOOTER -->
<div id="footer">
    <ul>
        <li>&copy;2010 <a href="#">Nombre aquí</a></li>
        <li>|</li>
        <li>|</li>
        <li><a href="#">Politicas de privacidad</a></li>
        <li>|</li>
        <li><a href="#">Carreras</a></li>
        <li>|</li>
        <li><a href="#">Anunciar</a></li>
        <li>|</li>
        <li>
            <a href="#">
                Mapa del sitio
            </a>
        </li>
        <li>|</li>
        <li>Diseñado por <a href="http://teshuixquilucan.edomex.gob.mx/">Jerry Anthony Gabriel Jacuinde</a></li>
    </ul>
</div>